<div id="<%= dom_id notrel_training %>">
  <p>
    <strong>Train type:</strong>
    <%= notrel_training.train_type %>
  </p>

  <p>
    <strong>Train benefit:</strong>
    <%= notrel_training.train_benefit %>
  </p>

</div>
