
<%= render @nested_othperformed %>

<div>
  <%= link_to "Edit", edit_nested_othperformed_path(@nested_othperformed), class: 'btn btn-primary' %> |
  <%= link_to "Back", nested_othperformeds_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @nested_othperformed, method: :delete, class: 'btn btn-danger' %>
</div>
