<div id="<%= dom_id nested_taskperformance %>">
  <p>
    <strong>Task notdone:</strong>
    <%= nested_taskperformance.task_notdone %>
  </p>

  <p>
    <strong>Task reason:</strong>
    <%= nested_taskperformance.task_reason %>
  </p>

  <p>
    <strong>Task impact:</strong>
    <%= nested_taskperformance.task_impact %>
  </p>

</div>
