<div id="<%= dom_id task_perfomance %>">
  <p>
    <strong>Task notdone:</strong>
    <%= task_perfomance.task_notdone %>
  </p>

  <p>
    <strong>Task reason:</strong>
    <%= task_perfomance.task_reason %>
  </p>

  <p>
    <strong>Task impact:</strong>
    <%= task_perfomance.task_impact %>
  </p>

</div>
