
<%= render @competency %>

<div>
  <%= link_to "Edit", edit_competency_path(@competency), class: 'btn btn-primary' %> |
  <%= link_to "Back", competencies_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @competency, method: :delete, class: 'btn btn-danger' %>
</div>
