<div id="<%= dom_id oth_position %>">
  <p>
    <strong>Pos title:</strong>
    <%= oth_position.pos_title %>
  </p>

  <p>
    <strong>Pos yr:</strong>
    <%= oth_position.pos_yr %>
  </p>

  <p>
    <strong>Pos month:</strong>
    <%= oth_position.pos_month %>
  </p>

</div>
