<div id="<%= dom_id oth_task %>">
  <p>
    <strong>Oth tasknotdone:</strong>
    <%= oth_task.oth_tasknotdone %>
  </p>

  <p>
    <strong>Oth reason:</strong>
    <%= oth_task.oth_reason %>
  </p>

  <p>
    <strong>Oth impact:</strong>
    <%= oth_task.oth_impact %>
  </p>

</div>
