<div id="<%= dom_id other_task %>">
  <p>
    <strong>Task notdone:</strong>
    <%= other_task.task_notdone %>
  </p>

  <p>
    <strong>Task reason:</strong>
    <%= other_task.task_reason %>
  </p>

  <p>
    <strong>Task impact:</strong>
    <%= other_task.task_impact %>
  </p>

</div>
